* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* gb = grayish blue */
  --VLgb: hsl(240, 78%, 98%);
  --Lgb: hsl(234, 14%, 74%);
  --gb: hsl(233, 13%, 49%);
  --Dgb: hsl(232, 13%, 33%);
}

body {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background-color: var(--VLgb);
  background-image: url(images/bg-top.svg);
  background-position: right top, left bottom;
  background-repeat: no-repeat;
}

/* top */
.pricing {
  margin: auto;
  height: 15em;
  width: 20em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.pricing h1 {
  margin-top: 1.7em;
  opacity: 0.55;
}

.pricing .toggle {
  display: flex;
  margin: auto;
  margin-top: 3.3em;
  width: fit-content;
}

.pricing #toggle-button {
  width: 3.75em;
  background: rgb(163,168,240);
  background: linear-gradient(90deg, rgba(163,168,240,1) 0%, rgba(105,111,221,1) 100%);
  border-radius: 25px;
  height: 2.15em;
  display: flex;
  cursor: pointer;
}

.pricing #toggle-button #circle {
  width: 1.65em;
  height: 1.65em;
  background-color: white;
  border-radius: 50%;
  margin: auto;
}

.pricing .toggle p {
  font-weight: bold;
  opacity: 0.4;
  margin: auto;
}

.pricing .toggle p:first-child {
  margin-right: 1.5em;
}

.pricing .toggle p:last-child {
  margin-left: 1.5em;
}

/* attribution */
.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* prices */
.prices {
  background-color: white;
  width: 22em;
  margin: auto;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  padding-top: 0.5em;
}

#professional {
  background: rgb(163,168,240);
  background: linear-gradient(90deg, rgba(163,168,240,1) 0%, rgba(105,111,221,1) 100%);
  color: white;
}

#professional h2, #professional .price-numbers-annually, #professional .price-numbers-monthly, #professional p {
  opacity: 0.9;
}

.prices h2 {
  opacity: 0.7;
  margin: 1em auto;
  margin-top: 1.5em;
}

.price-numbers-monthly, .price-numbers-annually {
  font-size: 4.5em;
  opacity: 0.7;
}

.features {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.features p:nth-child(1), .features p:nth-child(3) {
  border-top: 1px solid var(--Lgb);
  border-bottom: 1px solid var(--Lgb)
}

.features p {
  width: 16em;
  margin: auto;
  height: 3em;
  opacity: 0.6;
  font-size: 1.2em;
  padding-top: 1em;
}

button {
  margin: 2em auto;
  height: 2.5em;
  width: 16em;
  font-size: 1.2em;
  border-radius: 10px;
  border: 0px solid white;
  background: rgb(163,168,240);
  background: linear-gradient(90deg, rgba(163,168,240,1) 0%, rgba(105,111,221,1) 100%);
  color: white;
}

#professional button {
  background: none;
  background-color: white;
  color: rgba(105,111,221,1);
}

@media (min-width: 1440px) {
  
  .pricing {
    margin: auto;
    margin-top: 2em;
    height: 15em;
    width: 20em;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  body {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    background-color: var(--VLgb);
    background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
    height: 100vh;
  }

  .prices-wrap {
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: -7em;
  }

  .pricing {
    margin-top: 0.5em;
  }

  #professional {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .prices {
    margin: auto;
    width: 23em;
  }

  .prices:first-child {
    box-shadow: -1px 2px 7px rgba(72, 62, 94, 0.123);
  }

  .prices:last-child {
    box-shadow: 1px 2px 7px rgba(72, 62, 94, 0.123);
  }
  
  .pricing .toggle {
    display: flex;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: fit-content;
  }
    
}

@media (max-width: 376px) {
  body {
    background-position-x: 180px;
  }
}